.vscode/settings.json
.DS_Store
Specifiche Toy2/es. analisi semantica.pdf
Specifiche Toy2/es. descrizione sintassi.pdf
Specifiche Toy2/specifiche AST nodes.rtf
Specifiche Toy2/specifiche lessicali e sintattiche.txt
proposte progetti.pdf
